@import './mixins.scss';
@import './variables.scss';
@import './account/settings.scss';
@import './account/your-list.scss';

.account{
    &__navigation{
        @include flex-box(row, center, flex-start);
        height: $navHeight;
        background-color: lighten($bgColor, 2%);
        border-radius: 10px;
    }
    &__navigation-button{
        height: ($navHeight - 6px);
        border-radius: 0px;
        padding: 3px 15px;
        margin: 3px;
        border-width: 0px;
        background-color: lighten($bgColor, 5%);
    }
    &__navigation-button:hover{
        background-color: lighten($bgColor, 3%);
    }
    &__navigation-button:first-of-type{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }  
    &__navigation-button:last-of-type{
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }  
    &__navigation-button--logout{
        margin-left: auto;
    }
    &__content{
        margin-top: 10px;
        background-color: white;
        border-radius: 10px;
        padding: 10px;
    }
}