@import './shared/error.scss';
@import './shared/loading.scss';
@import './shared/modal.scss';
@import './shared/navigation.scss';

*{
    font-family: Garamond, serif;
    font-size: 103%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main{
    margin: 10px;
    margin-top: $headerHeight + 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: $bgColor;
}