@import './home/filters.scss';
@import './home/result-card.scss';
@import './home/search-bar.scss';

.home{
    @include flex-box(row, center, center);
    flex-wrap: wrap;
    &__query{
        width: 100%;
        margin-left: 10px;
        font-size: 110%;
    }
}
.filters-home{
    @include flex-box(row, flex-end, center);
    background-color: $searchBarColor;
    width: 100%;
    padding: 5px;
    &__button{
        background-color: lighten($searchBarColor, 5%);
        color: white;
        border: 0px;
        border-radius: 3px;
        padding: 2px 10px;
    }
    &__button:hover{
        background-color: lighten($searchBarColor, 3%);
    }
}
