// COLORS
$searchBarColor: rgb(71, 83, 255);
$headerColor:rgba($searchBarColor, 0.829);
$headerHeight: 50px;
$bgColor: rgb(234, 250, 255);

// HOME
$cardHeight: 500px;
$cardWidth: 300px;
$titleHeight: 60px;

// ACCOUNT
$navHeight: 30px;
