.account__content-settings-header{
    width: 100%;
    text-align: center;
    font-size: 200%;
    font-weight: 550;
    margin-bottom: 25px;
}

.settings-form{
    @include flex-box(column, flex-start, flex-start);
    padding: 10px;
    &__header{
        font-weight: 550;
        margin-bottom: 5px;
    }
    &__label{
        @include flex-box(column, flex-start, flex-start);
        margin-bottom: 10px;
        margin-left: 10px;
    }
    &__input{
        margin-top: 2px;
        padding: 1px;
        height: 22px;
    }
    &__submit{
        align-self: flex-end;
        margin-top: 5px;
        padding: 2px 5px;
        border: 2px solid darken($bgColor, 3%);
        border-radius: 2px;
        background-color: darken($bgColor, 1%);
    }
    &__submit:hover{
        background-color: darken($bgColor, 3%);
    }
    &__submit:active{
        background-color: darken($bgColor, 5%);
    }
}