.account__content-list-item{
    width: 100%;
    margin: 6px;
    padding: 6px;
    font-size: 150%;
    text-decoration: none;
    color: black;
    text-align: center;
    border: 2px solid darken($bgColor, 3%);
    border-radius: 2px;
    background-color: darken($bgColor, 2%);
}
.account__content-list-item:hover{
    background-color: darken($bgColor, 3%);
}
.account__content-list-empty{
    width: 100%;
    text-align: center;
    font-size: 180%;
}