@import 'variables';

.header{
    top: 0px;
    z-index: 10;
    position: fixed;
    width: 100%;
    background-color: $headerColor;
    .link{
        text-decoration: none;
        .headerText{
            margin: 0px;
            padding: 10px;
            color: white;
        }
    }
}header:hover{
    background-color: darken($headerColor, 2%);
}