@import 'mixins';
$bgColor: rgb(234, 250, 255);

.info{
    margin: 10px;
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
    background-color: $bgColor;
    .titleBox{
        @include flex-box(column, flex-start, center);
        margin: 2%;
        border-radius: 5px;
        background-color: white;
        width: 20%;
        h1{
            text-align: center;
            font-size: 150%;
        }
        img{
            width: 100%;
        }
        h4{
            box-sizing: border-box;
            width: 100%;
            margin: 0px;
            padding: 5px;
            border-bottom: 1px solid black;
        }
        h4:last-of-type{
            border-bottom: 0px;
        }
    }
}