@import 'mixins';
@import 'variables';


.info{
    margin: 10px;
    margin-top: $headerHeight + 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: $bgColor;
    @include flex-box(row, flex-start, flex-start);
    flex-wrap: wrap;
    article{
        width: 72%;
        box-sizing: border-box;
        margin: 2%;
        section{
            box-sizing: border-box;
            margin-bottom: 2%;
            padding: 10px;
            border-radius: 5px;
            background-color: white;
            ul{
                li{
                    margin: 15px;
                }
            }
            h3{
                @include flex-box(row, flex-start, center);
                img.arrowIcon{
                    height: 10px;
                    width: 10px;
                }
                img.fliped{
                    transform: scaleY(-1);
                }
            }
            .episodesHeader{
                @include flex-box(row, flex-end, center);
                margin: 0px;
                padding: 0px;
                h3{
                    margin-right: auto;
                }
                select{
                    display: none;
                }
            }
        }
        section.ranks{
            @include flex-box(row, center, center);
            section{
                @include flex-box(column, center, center);
                box-sizing: border-box;
                width: 50%;
                height: 100%;
                margin: 0px;
                p{
                    @include clear-padding-margin;
                }
                p.scoreNumber{
                    font-size: 300%;
                }
            }
        }
        ul{
            display: none;
            list-style-type: none;
        }
    }
    .titleBox{
        @include flex-box(column, flex-start, center);
        margin: 2%;
        border-radius: 5px;
        background-color: white;
        width: 20%;
        h1{
            text-align: center;
            font-size: 150%;
        }
        img{
            width: 100%;
        }
        h4{
            width: 90%;
            margin: 0px;
            margin-left: 5px;
            margin-right: 5px;
            padding: 5px;
            border-bottom: 1px solid darken($bgColor, 7%);
        }
        .myanimelist{
            text-align: center;
        }
        .tags{
            @include flex-box(column, flex-start, flex-start);
            p{
                align-self: center;
                margin: 0px;
            }
        }
        h4:last-of-type{
            border-bottom: 0px;
        }
    }
}

@media screen{
    @media (max-width: 1200px) and (orientation: portrait), (max-width: 800px) and (orientation: landscape){
            .info{
            margin: 2%;
            margin-top: $headerHeight + 10px;
            padding: 2%;
            width: 96%;
            box-sizing: border-box;
            @include flex-box(column, flex-start, center);
            flex-wrap: wrap;
            aside.titleBox{
                box-sizing: border-box;
                width: 95%;
            }
            article{
                box-sizing: border-box;
                width: 95%;
            }
        }
    }
}