@import 'mixins';
$cardHeight: 500px;
$cardWidth: 300px;
$titleHeight: 60px;

.results{
    @include flex-box(row, center, center);
    flex-wrap: wrap;
    h1{
        width: 100%;
        margin-left: 10px;
    }
    .singleResult{
        @include flex-box(column, flex-start, center);
        height: $cardHeight;
        width: $cardWidth;
        margin: 20px;
        border: 2px solid black;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: black 0px 0px 5px;
        .link{
            text-decoration: none;
            color: black;
            img{
                height: $cardHeight - $titleHeight;
                width: 100%;
                object-fit: cover;
            }
            h2{
                text-align: center;
                width: $cardWidth;
                height: $titleHeight;
                margin: 0px;
                line-height: $titleHeight;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
    .singleResult:hover{
        background-color: #c8c8fc;
        img{
            filter: blur(2px);
        }
    }
}
