.info__ranks{
    @include flex-box(row, center, center);
    height: 105px;
    &-box{
        @include flex-box(column, center, center);
        width: (100% / 3);
        height: 100%;
    }
    .info__score-number{
        font-size: 220%;
    }
    .info__score-desc{
        height: 20px;
    }
    .info__like-image-wrapper{
        @include flex-box(column, center, center);
        height: 55px;
    }
    .info__like-image{
        height: 40px;
        width: 40px;
    }
}