.info{
    &__title-box{
        @include flex-box(column, flex-start, center);
        margin: 2%;
        border-radius: 5px;
        background-color: white;
        width: 20%;
    }
    &__title{
        text-align: center;
        font-size: 150%;
        margin: 8px;
    }
    &__image{
        width: 100%;
    }
    &__header{
        width: 90%;
        margin: 0px;
        margin-left: 5px;
        margin-right: 5px;
        padding: 5px;
        border-bottom: 1px solid darken($bgColor, 7%);
    }
    &__header--tags{
        border-bottom: 0px;
    }
    &__tags{
        @include flex-box(column, flex-start, flex-start);
        width: 100%;
    }
    &__tag{
        align-self: center;
        margin: 0px;
    }
    &__mal-link-wrapper{
        text-align: center;
        margin-bottom: 5px;
    }
}