@import './styles/mixins.scss';
@import './styles/variables.scss';

@import './styles/base.scss';
@import './styles/home.scss';
@import './styles/info.scss';
@import './styles/account.scss';
@import './styles/form.scss';